<%- include("partials/_header") %>
<div class="h-screen flex flex-col justify-center items-center gap-4 from-white to-gray-100 bg-gradient-to-br">
    <div></div>
    <div class="flex flex-col gap-2 items-center">
        <img src="/imagesbot.png" alt="ImagesBot" class="w-36" />
        <h1 class="text-5xl font-medium tracking-wide">
            Images<span class="text-gray-700">Bot</span>
        </h1>
        <h2 class="text-xl text-gray-700">AI Image Explorer</h2>
    </div>
    <form class="flex flex-col items-center w-full" method="post" action="/search" id="search-form">
        <input id="search" type="text" name="query" autofocus="true" data-1p-ignore placeholder="<%- placeholder %>" class="shadow-inner text-center w-full max-w-sm p-2 bg-white outline-gray-400 rounded-xl outline-1" />
    </form>
    <div class="relative w-full">
        <div class="flex gap-4 py-12 overflow-x-scroll w-full max-w-full scrolling-x-content" id="recent-results">
            <% recent.forEach(result => { %>
            <a href="javascript:searchRecent('<%- result.Concept.Query.query %>')" class="max-w-[100px] lg:max-w-[200px] flex flex-col bg-gray-50 rounded-md shadow-sm hover:scale-110 cursor-pointer transition-all">
                <img src="<%= result.thumbnail_url %>" class="w-full h-full aspect-square rounded-t-md" />
                <span class="text-xs lg:text-base truncate p-2">
                    <%= result.Concept.prompt %>
                </span>
            </a>
            <% }) %>
        </div>
    </div>
</div>
<%- include("partials/_footer") %>