<%- include('partials/_header') %>
<div class="min-h-screen flex flex-col lg:flex-row p-8 gap-4 relative">
    <div class="w-full lg:w-4/12 flex flex-col">
        <div class="flex flex-col lg:sticky lg:top-4 gap-8 lg:gap-0">
            <a href="/" class="font-semibold">Images<span class="text-gray-700">Bot</span></a>
            <div id="moodboard" class="flex flex-col gap-8 lg:mt-40">
                <h1 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl"><%- search.query %></h1>
                <div class="">
                    <div class="grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 3xl:grid-cols-4 grid md:inline-grid gap-4">
                        <!--
                        <a href="" class="w-full md:w-32 aspect-square bg-gray-50 flex justify-center items-center text-gray-600 hover:scale-110 transition-all">
                            <img src="/images/46c708a9-47e6-44d3-b64c-c5c3c9cb47b6.png" />
                        </a>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full lg:w-8/12">
        <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4" hx-post="/generate/<%- search.id %>" hx-trigger="load" hx-swap="afterbegin">
            <% results.forEach(function(result) { %>
            <%- include('partials/_result', { result: result }) %>
            <% }) %>

            <!--
            <a href="" class="bg-gray-50 flex justify-center items-center text-gray-600 hover:scale-105 transition-all">
                <img src="/images/46c708a9-47e6-44d3-b64c-c5c3c9cb47b6.png" />
            </a>
            -->
        </div>
    </div>
</div>
<%- include('partials/_footer') %>