<%- include('partials/_header', { image: results[0].image_url }) %>
<div class="min-h-screen flex flex-col lg:flex-row p-8 gap-4 lg:gap-8 relative" id="blamo">
    <div class="w-full lg:w-4/12 flex flex-col">
        <div class="flex flex-col lg:sticky lg:top-4 gap-8 lg:gap-0">
            <div class="flex flex-row justify-between items-center gap-4">
                <div class="flex gap-2 items-center">
                    <img src="/imagesbot.png" alt="ImagesBot" class="w-6" />
                    <a href="/" class="font-semibold inline-block">Images<span class="text-gray-700">Bot</span></a>
                </div>
                <label class="relative inline-flex items-center cursor-pointer">
                    <input type="checkbox" id="live-checkbox" value="" class="sr-only peer" checked>
                    <div class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-0 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    <span class="ml-2 text-sm font-medium text-gray-700 dark:text-gray-300">LIVE</span>
                </label>
            </div>
            <div class="flex flex-col gap-8 lg:mt-40">

                <h1 id="query-header" class="bg-transparent text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex outline-none ring-0 resize-none cursor-pointer w-full">
                    <%- query.query %>
                </h1>
                <form method="post" action="/search" id="search-form" class="flex justify-between items-start hidden">
                    <input type="hidden" name="search_id" value="<%- search.id %>"></input>
                    <textarea id="search-query" name="query" class="bg-transparent text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex outline-none ring-0 resize-none h-32 cursor-pointer w-full" disabled data-gramm="false" data-gramm_editor="false" data-enable-grammarly="false" placeholder="<%- query.query %>"><%- query.query %></textarea>
                    <input id="search-button" type="submit" value="Search" class="hidden cursor-pointer bg-black text-white py-4 px-4 tracking-wider block" value="SEARCH" />
                </form>
                <div class="">
                    <div id="favorites" class="grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 3xl:grid-cols-4 grid md:inline-grid gap-4">
                        <% favorites.forEach(function(result) { %>
                        <%- include('partials/_favorite', { result }) %>
                        <% }) %>
                    </div>
                    <a href="/show/<%- search.id %>" id="save-button" class="bg-black text-white py-2 px-4 mt-4 tracking-wider inline-block">SAVE</a>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full lg:w-8/12">
        <div id="results" class="grid grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4" hx-ext="sse" sse-connect="/realtime/<%- search.id %>" sse-swap="placeholder" hx-trigger="load" hx-swap="afterbegin">
            <div class="hidden" id="hidden-loader"></div>
            <div class="hidden" sse-swap="concept"></div>
            <div class="hidden" sse-swap="result"></div>
            <div id="generate-indicator" class="order-[-1]">
                <a hx-post="/generate/<%- query.id %>?explicit=true&num=3" hx-target="#results" hx-swap="afterbegin" id="explicit-generate" class="w-full h-full justify-center items-center flex transition-all ease-in-out hover:scale-110 click:scale-90 cursor-pointer aspect-square bg-gray-50" hx-indicator="#hidden-loader">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-24 h-24">
                        <path stroke-linecap="miter" stroke-linejoin="miter" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </a>
            </div>
            <div hx-post="/generate/<%- query.id %>?num=5" hx-trigger="sse:connected" class="hidden"></div>
            <% results.forEach(function(result) { %>
            <%- include('partials/_result', { result }) %>
            <% }) %>
        </div>

    </div>
</div>
<%- include('partials/_footer') %>